.app-bar {
    padding: 0.5rem;

    // &__icon {
    //     &-dark-mode {
    //         color: #f7f7f7;
    //     }
    // }

    // &__menu {
    //     &-dark-mode {
    //         background-color: #000000;
    //     }
    // }

    &__link {
        display: flex;
        align-items: center;
        color: inherit;
    }
}