.app-bar {
    padding: 0.5rem;

    &__link {
        display: flex;
        align-items: center;
        color: inherit;
    }

    // &__left-side {
    //     display: flex;
    //     justify-content: flex-start;
    //     align-items: center;
    // }

    // &__right-side {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-end;
    //     align-items: center;
    // }
}