@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.must-try {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile-padding();

    &__empty-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__empty-state-img {
        height: 170px;
        margin: auto 0;
    }

    &__empty-state-title {
        margin: 0 0 6px;
    }

    &__empty-state-paragraph {
        margin: 0;
        text-align: center;
    }
}