@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.restaurant-details {
    display: flex;
    justify-content: center;

    &__container {
        padding: 0 1rem 6.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        text-align: left;
        max-width: 550px;
        overflow-x: hidden;
        
        @include tablet {
            @include desktop-margin();
        }   
    }

    &__restaurant {
        @include mobile-padding();
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__name {
        @include mobile-text-list-title();
        margin: 3.125rem 1rem 1.875rem;
        width: auto;
        max-width: 300px;
        text-align: center;

        @include tablet {
            margin-left: 2.5rem;
        }
    }

    &__info {
        @include mobile-text-body();
        margin-bottom: 0.25rem;

        @include tablet {
            @include tablet-text-body();
            margin-bottom: 0.5rem;
        }
    }

    &__star-icon {
        margin-left: 0.25rem;
        color: $primary-text-colour;
    }

    &__photo-container {
        display: flex;
        margin: 0 0 1.875rem;
        width: 100vw;
        max-height: 350px;
        overflow-x: auto;
        white-space: nowrap;
    }

    &__photos {
        display: flex;
        align-items: flex-start;
        margin: 1rem 1.75rem 1rem 0;
    }

    &__photo {
        max-width: auto;
        max-height: 220px;
        margin-right: 1rem;
        border-radius: 0.75rem;
    }

    &__hours {
        @include mobile-text-body();
        margin: 1.25rem 0 0;

        @include tablet {
            @include tablet-text-body();
            margin-top: 1.5rem;
        }
    }

    &__hour {
        @include mobile-text-body();

        @include tablet {
            @include tablet-text-body();
        }

        &:last-child {
            margin-bottom: 1.5rem;

            @include tablet {
                margin-bottom: 1.875rem;
            }
        }
    }

    &__list {
        margin: 0;
    }

    &__reviews {
        @include mobile-text-body();
        padding-bottom: 0.5rem;

        @include tablet {
            @include tablet-text-body();
        }
    }

    &__review {
        margin-bottom: 1.75rem;
    }

    &__review-name {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;

        @include tablet {
            font-size: 1.125rem;
        }
    }

    &__review-details {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        @include mobile-text-body();

        @include tablet {
            @include tablet-text-body();
        }
    }

    &__review-rating {
        margin: 0 1rem 0.5rem 0;
        font-weight: 500;
    }

    &__review-time {
        margin: 0 0 0.5rem 0;
        padding: 0 0.5rem;
        border-radius: 8px;
        font-size: 10px;
        line-height: 1.1rem;
        background-color: $primary-colour-light-background;
        color: #000000;
    }

    &__review-text {
        @include mobile-text-body();
        line-height: 1.2rem;
        margin-bottom: 1.25rem;

        @include tablet {
            @include tablet-text-body();
            line-height: 1.5rem;
            margin-bottom: 1.875rem;
        }
    }
    
    &__add-icon {
        @include icon-hover-animation();
    }
}