@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins"as *;

.checked-restaurant {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); // Semi-transparent black overlay
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 1rem 1rem 1.5rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // justify-content: space-between;

        @include tablet {
            // justify-content: center;
            height: auto;
            width: auto;
            padding: 2.5rem 4rem;
            margin: 0 3.25rem 20%;
            border-radius: 0.9375rem;
        }

        @include desktop {
            margin: 0 24% 20%;
        }
    }

    &__rating {
        margin-bottom: 6.25rem;

        @include tablet {
            margin-bottom: 3.125rem;
        }
    }

    &__results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.875rem;
    }

    &__paragraph {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.75rem;
        padding-bottom: 1.25rem;
        text-align: center;
    }

    &__done {
        display: flex;
        justify-content: flex-end;
    }
}