@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins"as *;

.checked-restaurant {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); // Semi-transparent black overlay
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 1rem 3rem 1.5rem;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
            height: auto;
            width: auto;
            padding: 2.5rem 4rem;
            margin: 0 3.25rem 20%;
            border-radius: 0.9375rem;
        }

        @include desktop {
            margin: 0 24% 20%;
        }
    }

    &__dark-mode {
        background-color: #333;
    }

    &__rating {
        margin-bottom: 3.25rem;

        @include tablet {
            margin-bottom: 3.125rem;
        }
    }

    &__results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 4.5rem;
    }

    &__paragraph {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.75rem;
        padding-bottom: 1.25rem;
        text-align: center;
    }
 
    &__radio {
        display: flex;
    }
    
    &__radio-input {
        display: none;
    }
    
    &__radio-label {
        padding: 0.5rem 1.875rem;
        font-size: 0.9375rem;
        font-weight: 500;
        color: $primary-text-colour;
        cursor: pointer;
        border: 1px solid $primary-text-colour;
        border-radius: 1.875rem;
        margin-right: 0.625rem;

        &:hover {
            background-color: #fafafa;
            border: 1px solid $primary-hover-colour;
        }

        &-dark-mode {
            border: 1px solid $primary-colour;
            color: $primary-colour;

            &:hover {
                background-color: #3e3e3e;
                border: 1px solid $primary-colour-light-background;
                color: $primary-colour-light-background;
            }
        }
    }
    
    &__radio-input:checked + &__radio-label {
        background-color: #f2e9ff;
        border: 1px solid $primary-hover-colour;
    }

    &__radio-input-dark-mode:checked + &__radio-label-dark-mode {
        color: #ffffff;
        background-color: #503e6c;
    }

    &__done {
        display: flex;
        justify-content: flex-end;
    }
}