@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins"as *;

.checked-restaurant {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); // Semi-transparent black overlay
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 1rem 1rem 1.5rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            justify-content: center;
            height: auto;
            width: auto;
            padding: 2.5rem 4rem;
            margin: 0 3.25rem 20%;
        }

        @include desktop {
            margin: 0 24% 20%;
        }
    }
}