// Primary Colours
$primary-colour: #bd8eff;
$primary-hover-colour: #ad86ea;

$primary-light-background: #F3F6FC;
$primary-colour-light-background:#e7d2ff;

$primary-text-colour: #73649b;
$primary-text-hover-colour: #8e7cd1;

$primary-title-colour: #a275f9;

$primary-logo-text-colour: #4f2977;

// Responsive Breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;