// Primary Colours
$primary-colour: #EB72FF;
$primary-hover-colour: #DD65F0;
$primary-light-background: #F3F6FC;
$primary-colour-light-background:#e7d2ff;

// Responsive Breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;