@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.top-rated {
    @include mobile-padding();
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;  

    &__title {
        @include mobile-text-list-title();
        color: $primary-title-colour;
    }

    &__list {
        padding: 0;
        width: 100%;
    }

    &__empty-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__empty-state-img {
        height: 130px;
        margin: auto 0;
    }

    &__empty-state-title {
        margin: 0 0 6px;
    }

    &__empty-state-paragraph {
        margin: 0;
        text-align: center;
    }

    &__item-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-right: 10px;
    }

    &__item {
        @include list-item();
    }

    &__item-name {
        @include mobile-text-list();
        color: $primary-text-colour;

        @include tablet {
            @include tablet-text-list();
        }

        &:hover { 
            color: $primary-text-hover-colour;
        }
    }

    &__item-rating {
        margin-left: 1.875rem;
    }

    &__add {
        margin-right: 0.625rem;
    }

    &__add-icon {
        @include icon-hover-animation();
        // visibility: hidden;
    }
}