.top-rated {
    display: flex;
    flex-direction: column;
    align-items: center;  

    &__empty-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__empty-state-img {
        height: 130px;
        margin: auto 0;
    }

    &__empty-state-title {
        margin: 0 0 6px;
    }

    &__empty-state-paragraph {
        margin: 0;
        text-align: center;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 10px;
    }

    &__item-name {
        padding-right: 50px;
    }
}