@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.top-rated {
    @include mobile-padding();
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.125rem;  

    &__title {
        @include mobile-text-list-title();
        color: $primary-title-colour;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        max-width: 550px;
        width: 100%;
        height: 70vh;
        padding: 0;
    }

    &__empty-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__empty-state-img {
        height: 150px;
        margin-top: 9.375rem;
    }

    &__empty-state-title {
        @include mobile-text-title();
        margin: 0.5rem 0 0.75rem;
    }

    &__empty-state-paragraph {
        @include mobile-text-body-larger();
        text-align: center;
        max-width: 330px;
    }

    &__item-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-right: 10px;
    }

    &__item {
        @include list-item();
    }

    &__item-name {
        @include mobile-text-list();
        color: $primary-text-colour;

        @include tablet {
            @include tablet-text-list();
        }

        &:hover { 
            color: $primary-text-hover-colour;
        }
    }

    &__item-rating {
        margin-left: 1.875rem;
    }

    &__add {
        margin-right: 0.625rem;
    }

    &__add-icon {
        @include icon-hover-animation();
    }
}