@use "../../styles/partials/variables" as *;

.loading {
    display: flex;
    justify-content: center;
    vertical-align: center;
    width: 100vw;
    height: 100vh;
    // background: $primary-colour-light-background;
    background: linear-gradient(to bottom, #e7d2ff, #bd8eff);
    overflow: hidden;

    &__logo {
        height: 250px;
        margin: auto 0;
    }
}