@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.favourites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1rem 6.25rem; 
    background-color: $primary-light-background;

    &__title {
        @include mobile-text-list-title();
        color: $primary-title-colour;
        text-align: center;
        padding-top: 0.65rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        max-width: 550px;
        width: 100%;
        padding: 0;
    }

    &__empty-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__empty-state-img {
        margin-top: 9.375rem;
        height: 150px;
    }

    &__empty-state-title {
        @include mobile-text-title();
        margin: 0.5rem 0 0.75rem;
    }

    &__empty-state-paragraph {
        @include mobile-text-body-larger();
        text-align: center;
        max-width: 330px;
    }

    &__share-icon {
        color: #ccc;
        margin-right: 4px;

        &:hover {
            color: #bbb;
        }

        &-dark-mode {
            color: #616161;

            &:hover {
                color: #717171;
            }
        }
    }

    &__item {
        @include list-item();

        &-dark-mode {
            @include list-item-dark-mode();
        }
    }

    &__item-name {
        @include mobile-text-list();
        color: $primary-text-colour;

        @include tablet {
            @include tablet-text-list();
        }

        &:hover { 
            color: $primary-text-hover-colour;
        }

        &-dark-mode {
            color: $primary-colour-light-background;
        }
    }

    &__item:hover &__delete-icon {
        visibility: visible;
    }

    &__delete {
        margin-left: 1.875rem;
    }

    &__delete-icon {
        @include icon-hover-animation();
        visibility: hidden;
    }

    &__dark-mode {
        background-color: $dark-mode-background;
        color: $dark-mode-text-colour;

        &-text {
            color: $dark-mode-paragraph-colour;
        }
    }
}