@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.custom-checkbox {
    &__item-name {
        @include mobile-text-list();
        color: $primary-text-colour;
        padding-left: 0.5rem;

        @include tablet {
            @include tablet-text-list();
        }

        &:hover { 
            color: $primary-text-hover-colour;
        }
    }
}