@use "../src/styles/partials/variables";
@use "../src/styles/partials/mixins";
@use "../src/styles/partials/fonts";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
