@use "../src/styles/partials/variables" as *;
@use "../src/styles/partials/mixins" as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.App {
    width: 100vw;
    height: 100vh;
}
