@use "../src/styles/partials/variables";
@use "../src/styles/partials/mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.App {
  width: 100vw;
  height: 100vh;
}
