@use "../../styles//partials/mixins" as *;
@use "../../styles//partials/variables" as *;

.select-location {
    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__set {
        margin-top: 50px;
    }

    &__results-dark-mode {
        background-color: #050505;
         
        li.MuiAutocomplete-option:hover {
            background-color: #1b1b1b;
        }
    }
}